.callout-container {
    height: 100vh;

    background: url("https://images.ctfassets.net/qu53tdnhexvd/4Sk39p2rxsw2nGb7T7X4P2/39b2a55631dec2ce20dcae988ed9f1f8/earl_grey_poached_pears_with_ice_cream.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.no-deco {
    text-decoration: none;
    
}

.img-fit {
    object-fit: cover;
}

.recipe-card-head {
    background-color: slategray;
}

.recipe-title {
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.card {
    border: none;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: darkgray;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
    margin-left: 20px;
}

.warning {
    visibility: hidden;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}