/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Imbue:wght@700&display=swap');

.logo {
    font-family: 'Imbue', sans-serif;
    font-size: x-large;
}

.logo-hero {
    font-family: 'Imbue', sans-serif;
    font-size: 10em;
    color: white;
    
}

.active {
    color: orange;
}

.callout-container {
    height: 100vh;
    background: url("../images/earl_grey_poached_pears_with_ice_cream.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.no-deco {
    text-decoration: none;
    
}

.img-fit {
    object-fit: cover;
}

.recipe-card-head {
    background-color: slategray;
}

.recipe-title {
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.card {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgray;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
    margin-left: 20px;
}

.feature-head {
    margin-top: 100px;
}

.dietry-box {
    position: absolute;
    bottom: 40%;
    left: 20px;
    background-color: rgb(156, 224, 190);
    opacity: 90%;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.dietry-box-detail {
    position: relative;
    top: 25px;
    left: 20px;
    background-color: rgb(156, 224, 190);
    opacity: 90%;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.vegan-icon {
    position: absolute;
    bottom: -70%;
    left: 15%;
}

.vegetarian-icon {
    position: absolute;
    bottom: -70%;
    left: 28%;
}

.dietry-text {
    position: relative;
    bottom: 79%;
    left: 10%;
    color: lightgray;
}

.recipe-buttons {
    position: absolute;
}

.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
    height: 300px;
    width: 100px;
}

/* Media Queries */

@media screen and (max-width: 1199px) {
    .feature-head {
        margin-top: 60px;
    }

    .dietry-text {
        margin-left: 5px;
    }
}

@media screen and (max-width: 991px) {
    .feature-head {
        margin-top: 35px;
    }

    .callout-container {
        height: 100vh;
        background: url("../images/earl_grey_poached_pears_with_ice_cream-2.jpg") no-repeat bottom right fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .dietry-text {
        margin-left: 15px;
    }
}

@media screen and (max-width: 767px) {
    .feature-head {
        margin-top: 25px;
    }

    
}