{% extends 'base.html'%}

{% block content %}

{% load cloudinary %}

{% if user.is_authenticated and user.username == comment.name %}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="display-2 text-center mt-2">Edit Comment</h1>
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <form class="signup" id="add_recipe_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success right mb-2" type="submit" value="Save">Save</button>
        </form>
    </div>
</div>

{% elif user.is_authenticated %}

{% include "forbidden_access.html" %}

{% else %}

{% include "not_logged_in_error.html" %}

{% endif %}

{% endblock %}