{% extends "base.html" %}

{% block content %}

{% load static %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-8 offset-2">
        <h1 class="h1 display-2 text-center">Favourite Recipes</h1>
        <hr>
    </div>
</div>

<!-- Recipe card -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'recipe_detail' recipe.slug %}" class="no-deco text-black">
                                    <!-- Chooses image to display. User uploaded pic takes priority over URL link.
                                If niether added then the default image will be displayed. -->
                                    {% if "placeholder" not in recipe.image.url %}
                                    <img class="card-img-top img-fit" src=" {{ recipe.image.url }}" height="300" alt="{{ recipe.title }}">
                                    {% elif recipe.image_url %}
                                    <img class="card-img-top img-fit" src="{{ recipe.image_url}}" height="300" alt="{{ recipe.title }}">
                                    {% else %}
                                    <img class="card-img-top img-fit" src="{% static 'images/food_default.jpg' %}"
                                        height="300">
                                    {% endif %}
                            </div>
                            <!-- Show dietry label if true -->
                            {% if recipe.vegan %}
                            <div class="dietry-box">
                                <p class="vegan-icon">Ve</p>
                            </div>
                            {% elif recipe.vegetarian %}
                            <div class="dietry-box">
                                <p class="vegetarian-icon">V</p>
                            </div>
                            {% endif %}
                            <h2 class="card-title">{{ recipe.title }}</h2>
                            <p class="text-muted">by {{ recipe.author }}</p>
                            <p class="card-text">{{ recipe.description|safe }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.published_on}} <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <div class="container log-box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12 mt-4">
                            <p class="lead text-center">Looks like you haven't liked any recipes yet!
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "pagination.html" %}

{% else %}

{% include "not_logged_in_error.html" %}

{% endif %}

{% endblock %}