{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Hero Image -->
<div id="hero-image" class="container-fluid callout-container"
    style="background-image: url(https://res.cloudinary.com/deyxatgs9/image/upload/v1647442778/static/images/earl_grey_poached_pears_with_ice_cream.jpg)">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="text-center logo-hero">Eat Me!</h1>
                <h2 class="display-6 text-light">A place to create and share your most loved recipes.</h2>
                <hr>
                {% if user.is_authenticated %}
                <p class="lead text-light"> Welcome back {{ user | title }}
                    <a class="nav-link" href="{% url 'recipes' %}"><button class="btn btn-dark">View
                            Recipes</button></a>
                </p>
                {% else %}
                <p class="lead text-light">Sign up today to start sharing your creations with the world!</p>
                <a class="nav-link" href="{% url 'account_signup' %}"><button class="btn btn-dark">Sign
                        up!</button></a>
                <p class="text-muted"><small>By signing up you agree to our terms and service.</small></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br>

<div class="container pe-0">
    <div class="row ge-1">
        <div class="col-sm-7">
            <!-- Carousel -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <h3 class="h3 display-6 text-center">Featured Recipes</h3>
                <br>
                <div class="col-6 offset-3">
                    <hr>
                    <br>
                </div>
                <div class="carousel-inner">
                    {% for recipe in recipes %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                            {% endif %}
                            <a href="{% url 'recipe_detail' recipe.slug %}">
                                {% if "placeholder" not in recipe.image.url %}
                                <img class="img-fit card-img-top" src=" {{ recipe.image.url }}" height="400px"
                                    width="600px">
                                {% elif recipe.image_url %}
                                <img class="img-fit card-img-top" src="{{ recipe.image_url}}" height="400px"
                                    width="600px">
                                {% else %}
                                <img class="img-fit card-img-top" src="{% static 'images/food_default.jpg' %}"
                                    alt="A Table of food" height="400px" width="600px">
                                {% endif %}
                                <div class="carousel-caption d-md-block">
                                    <h5>{{ recipe.title }}</h5>
                                    <p> by {{ recipe.author }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controls for carousel -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Top Recipes -->
            <div class="col d-sm-none">
                <br>
            </div>
            <div class="col-sm-5">
                <h3 class="h3 display-6 text-center">Most loved Recipes</h3><br>
                <div class="col-6 offset-3">
                    <hr>
                    <br>
                </div>
                <div class="lead">
                    <ol>
                        {% for top_recipe in top_recipes|slice:":5" %}
                        <a href="{% url 'recipe_detail' top_recipe.slug %}" class="recipe-link">
                            <li>{{ top_recipe.title}} by {{ top_recipe.author }}</li>
                        </a>
                        <hr />
                        {% endfor %}
                    </ol>
                    <p class="lead text-center">
                        <a href="{% url 'recipes' %}" class="recipe-link link-secondary">View all recipes</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Features -->
<div class="container-wrapper container-wrapper--red">
    <div class="container features-container content-container">
        <section class="features mb-4">
            <div class="row">
                <div class="col-12 page-header">
                    <h3 class="h3 display-6 text-center">Features</h2>
                </div>
                <div class="col-6 offset-3">
                    <hr>
                    <br>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-6">
                    <h2 class="feature-head text-center"><i class="fas fa-globe"></i> Discover</h2>
                    <p class="text-center">Explore and discover delicious new recipes from users all across the
                        globe.</p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/sausage_casserole.jpg' %}" class="img-fluid" alt="Sausage Casserole">
                </div>
                <div class="col-4 offset-4">
                    <br>
                    <br>
                    <hr class="d-xs-block d-md-none">
                    <br>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-6 d-none d-sm-block d-sm-none d-md-block">
                    <img src="{% static 'images/teriyaki_chicken.jpg' %}" class="img-fluid" alt="Teriyaki Chicken">
                </div>
                <div class="col-md-6">
                    <h2 class="feature-head text-center"><i class="fas fa-heart"></i> Love</h2>
                    <p class="text-center">Save your most loved recipes and come
                        back to them time and time again.</p>
                </div>
                <div class="col-md-6 d-xs-block d-md-none">
                    <img src="{% static 'images/teriyaki_chicken.jpg' %}" class="img-fluid" alt="Teriyaki Chicken">
                </div>
                <div class="col-4 offset-4">
                    <br>
                    <br>
                    <hr class="d-xs-block d-md-none">
                    <br>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-6">
                    <h2 class="feature-head text-center"><i class="fas fa-apple-alt"></i> Create</h2>
                    <p class="text-center">Create and share your own unique recipes with the world!
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/tea_and_cake.jpg' %}" class="img-fluid" alt="Tea and Cake">
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}