{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<div class="container">
    <div class="row g-0 recipe-card-head">
        <div class="col-md-6 my-auto">
            <h1 class="recipe-title text-light"> {{ recipe.title }}</h1>
            <p class="recipe-subtitle">by {{ recipe.author }} | <em>{{ recipe.published_on }}</em></p>
        </div>
        <div class="d-md-block col-md-6">
            {% if "placeholder" not in recipe.image.url %}
            <img class="card-img-top img-fit" src=" {{ recipe.image.url }}" width="100%">
            {% elif recipe.image_url %}
            <img class="card-img-top img-fit" src="{{ recipe.image_url}}" width="100%">
            {% else %}
            <img class="card-img-top img-fit"
                src="https://www.fiin.co.uk/sites/default/files/styles/banner_homepage/public/carousels/fiin-site-05-opt.jpg?itok=Olg7ZyBE"
                width="100%">
            {% endif %}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p>{{ recipe.description|striptags }}</p>
                <hr />
                <h3>Ingredients:</h3>
                <p class="card-text ">{{ recipe.ingredients | safe }}</p>
                <hr />
                <h3>Method:</h3>
                <p class="card-text ">{{ recipe.method | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-1">
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" value="{{ recipe.slug }}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" value="{{ post.slug }}" class="btn-like">
                        <i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                {{ recipe.number_of_likes }}
            </strong>
        </div>
        <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}
            </strong>
            {% endwith %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <hr class="mt-2">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body pt-0">
                {% if user.is_authenticated %}
                <h3> Leave a comment: </h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-lg mt-2">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}