{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-8 offset-2">
        <h1 class="h1 display-2 text-center">You searched for '{{ searched }}'</h1>
        <hr>
    </div>
</div>

<!-- Recipe Card -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'recipe_detail' recipe.slug %}" class="no-deco text-black">
                            <div class="card-body">
                                <div class="image-container">
                                <!-- 
                                    Chooses image to display. User uploaded pic takes priority over URL link.
                                    If niether added then the default image will be displayed. 
                                -->
                                    {% if "placeholder" not in recipe.image.url %}
                                    <img class="card-img-top img-fit" src=" {{ recipe.image.url }}" height="300" alt="{{ recipe.title }}">
                                    {% elif recipe.image_url %}
                                    <img class="card-img-top img-fit" src="{{ recipe.image_url}}" height="300" alt="{{ recipe.title }}">
                                    {% else %}
                                    <img class="card-img-top img-fit" src="{% static 'images/food_default.jpg' %}" height="300" alt="A table of food">
                                    {% endif %}
                                </div>
                                <!-- Show dietry label if true -->
                                {% if recipe.vegan %}
                                <div class="dietry-box">
                                    <p class="vegan-icon">Ve</p>
                                </div>
                                {% elif recipe.vegetarian %}
                                <div class="dietry-box">
                                    <p class="vegetarian-icon">V</p>
                                </div>
                                {% endif %}
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="text-muted">by {{ recipe.author }}</p>
                                <p class="card-text">{{ recipe.description|safe }} <!-- no closing p tag as one will exist at the end of the description template--> 
                                <hr />
                                <p class="card-text text-muted h6">{{ recipe.published_on}} <i class="far fa-heart"></i>
                                    {{ recipe.number_of_likes }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                <!-- If search results empyty -->
                {% empty %}
                <div class="container log-box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 offset-2 mt-4">
                            <h2 class="display-5">Sorry</h2>
                            <p class="lead">There are no recipes with '{{ searched }}' in the title.</p>
                            <p class="lead"> Browse through all recipes <a href="{% url 'recipes' %}">here</a>. Or try searching again.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}