{% extends "base.html" %}

{% block content %}

{% load static %}

{% if user.is_authenticated %}

<div class="row">
    <div class="col-8 offset-2">
        <h1 class="h1 display-2 text-center">Your Recipes</h1>
        <hr>
    </div>
</div>

<!-- Add Recipe Button -->
<div class="row">
    <div class="col text-center">
        <a href="{% url 'add_recipe' %}" class="btn btn-secondary mt-2">Add Recipe</a>
    </div>
</div>

<!-- Recipe Card -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in page_obj %}
                <div class="col-md-4 mb-1">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'recipe_detail' recipe.slug %}" class="no-deco text-black">
                                <!-- Chooses image to display. User uploaded pic takes priority over URL link.
                                    If niether added then the default image will be displayed. -->
                                {% if "placeholder" not in recipe.image.url %}
                                <img class="card-img-top img-fit" src=" {{ recipe.image.url }}" height="300" alt="{{ recipe.title }}">
                                {% elif recipe.image_url %}
                                <img class="card-img-top img-fit" src="{{ recipe.image_url}}" height="300" alt="{{ recipe.title }}">
                                {% else %}
                                <img class="card-img-top img-fit"
                                    src="{% static 'images/food_default.jpg' %}" height="300">
                                {% endif %}
                            </div>
                            <!-- Show dietry label if true -->
                            {% if recipe.vegan %}
                            <div class="dietry-box">
                                <p class="vegan-icon">Ve</p>
                            </div>
                            {% elif recipe.vegetarian %}
                            <div class="dietry-box">
                                <p class="vegetarian-icon">V</p>
                            </div>
                            {% endif %}
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="text-muted">by {{ recipe.author }}</p>
                                <p class="card-text">{{ recipe.description|safe }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.published_on}} <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>
                            <!-- Edit and Delete buttons -->
                            <div class="recipe-buttons mt-1">
                                <a href="{% url 'edit_recipe' recipe.id %}"><button class="btn btn-success">Edit</button></a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
                            </div>
                            <!-- Modal for Deleting Recipe -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Delete Recipe</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the recipe {{ recipe.title }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                                <a href="{% url 'delete_recipe' recipe.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

                <!-- If user has no created recipes -->
                {% empty %}
                <div class="container log-box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12 mt-4">
                            <p class="lead text-center">Looks like you dont have any recipes yet! Try adding some now.
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "pagination.html" %}

{% else %}

{% include "not_logged_in_error.html" %}

{% endif %}

{% endblock %}