{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="row">
    <div class="col-8 offset-2">
        <h1 class="h1 display-2 text-center">Your Recipes</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <a href="#" class="btn btn-secondary mt-2">Add Recipe</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" not in recipe.image.url %}
                                <img class="card-img-top img-fit" src=" {{ recipe.image.url }}" height="300px">
                                {% elif recipe.image_url %}
                                <img class="card-img-top img-fit" src="{{ recipe.image_url}}" height="300px">
                                {% else %}
                                <img class="card-img-top img-fit"
                                    src="https://www.fiin.co.uk/sites/default/files/styles/banner_homepage/public/carousels/fiin-site-05-opt.jpg?itok=Olg7ZyBE"
                                    height="300px">
                                {% endif %}
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="no-deco text-black">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="text-muted">by {{ recipe.author }}</p>
                                <p class="card-text">{{ recipe.description|safe }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.published_on}} <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

                {% empty %}

                <div class="container log-box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12 mt-4">
                            <p class="lead text-center">Looks like you dont have any recipes yet! Try adding some now.
                            </p>
                            <div class="align-content-center ">
                                <div class="col text-center">
                                    <a href="#" class="btn btn-secondary mt-2">Add Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% else %}

<div class="container log-box">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-4">
            <h2>Whoops!</h2>
            <p>To view this content you need to have an account. Sign in <a href="{% url 'account_login' %}">here</a> or
                register an account <a href="{% url 'account_signup' %}">here</a>.</p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}